
body{
  background-color: bisque;
}
h1{
  text-align: center;
}
.container{
  padding: 50px 350px;
  /* text-align: center; */
}
#white{
  height: 80px;
  width: 80px;
  font-size: 30px;
  text-align: center;
  align-content: center;
  background-color: rgb(81, 75, 75);
}
#black{
  height: 80px;
  width: 80px;
  font-size: 30px;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
}

#whiteIcon{
  color:azure;
}